<!DOCTYPE HTML>
<html lang="ru">
<head>
    <title>I. Архитектура</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=792, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../shower/themes/bright/styles/screen.css">
    <style>
        .slide.cover.white {
            background: #fff;
        }
    </style>
</head>
<body class="list">
    <header class="caption">
        <h1>I. Архитектура</h1>
        <p>Инструменты, организация и фреймворки.</p>
    </header>

    <section class="slide shout"><div>
        <h2>
            Фронтенд
        </h2>
     </div></section>

    <section class="slide"><div>
        <h2>Модули</h2>
        <pre>
            <code>АРХИТЕКТУРА <mark class="comment">// 2 СЗ + КР</mark></code>
            <code>DOM &amp; AJAX <mark class="comment">// 3 СЗ + КР</mark></code>
            <code>ОТДЛАДКА И МОБИЛЬНЫЙ ВЕБ <mark class="comment">// 3 СЗ + КР</mark></code>
        </pre>
     </div></section>

    <section class="slide"><div>
        <h2>Определение</h2>
        <figure>
            <blockquote>
                <p><strong>Веб-приложение</strong> — клиент-серверное приложение, в котором клиентом выступает браузер, а сервером — веб-сервер. Логика веб-приложения распределена между сервером и клиентом, хранение данных осуществляется, преимущественно, на сервере, обмен информацией происходит по сети.</p>
            </blockquote>
            <figcaption><a href="http://ru.wikipedia.org/wiki/Веб-приложение">Википедия</a></figcaption>
        </figure>
     </div></section>

    <section class="slide shout"><div>
        <h2>HTTP, JavaScript, Backbone, DOM, Events, AJAX, WebSockets, Sass, Grunt…</h2>
     </div></section>

    <section class="slide"><div>
        <h2>Критерии оценки</h2>
        <ol>
            <li>Соответствие результата предъявляемым требованиям.</li>
            <li>Оптимальность предлагаемого решения.</li>
            <li>Практичность решения.</li>
            <li>Качество оформления результатов работы.</li>
            <li>Доказательность аргументации при защите работы.</li>
        </ol>
    </div></section>

    <section class="slide shout"><div>
        <h2><a href="http://nodejs.org">Node.js</a> &amp; <a href="https://npmjs.org">NPM</a></h2>
    </div></section>

    <section class="slide shout"><div>
        <h2><a href="http://gruntjs.com">Grunt</a></h2>
    </div></section>

    <section class="slide shout"><div>
        <h2>Single Page Application</h2>
    </div></section>

    <section class="slide shout"><div>
        <h2><a href="https://github.com/mailru/fest">Fest</a></h2>
    </div></section>

    <section class="slide shout"><div>
        <h2>Проектная работа</h2>
    </div></section>

    <section class="slide"><div>
        <h2>Приступаем!</h2>
        <pre>
            <code>$ mkdir epicgame &amp; cd epicgame</code>
            <code class="next">$ npm init</code>
            <code class="next">$ cat package.json</code>
            <code class="next">$ npm install grunt-cli -g</code>
            <code class="next">$ npm grunt grunt-contrib-connect --save-dev</code>
            <code class="next">$ vim Gruntfile.js</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Gruntfile.js</h2>
        <pre>
            <code>module.exports = function (grunt) {</code>
            <code>    grunt.initConfig({</code>
            <code>        connect: { … } <mark class="comment">/* grunt-contrib-connect */</mark></code>
            <code>    });</code>
            <code>    grunt.loadNpmTasks('grunt-contrib-connect');</code>
            <code>};</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2><code>grunt-contrib-connect</code></h2>
        <pre>
            <code>server: { <mark class="comment">/* Подзадача */</mark></code>
            <code>    options: {</code>
            <code>        keepalive: true, <mark class="comment">/* работать постоянно */</mark></code>
            <code>        port: 8000, <mark class="comment">/* номер порта */</mark></code>
            <code>        base: 'public' <mark class="comment">/* публичная директория */</mark></code>
            <code>    }</code>
            <code>}</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Gruntfile.js</h2>
        <pre>
            <code>$ grunt connect:server</code>
            <code>Running "connect:server" (connect) task</code>
            <code>Waiting forever...</code>
            <code>Started connect web server on http://localhost:8000</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>public</h2>
        <pre>
            <code>$ cat public/index.html</code>
            <code>Hello!</code>
        </pre>
    </div></section>

    <section class="slide cover w white"><div>
        <img src="../pics/prototype-scheme.png" alt="" />
    </div></section>

    <section class="slide"><div>
        <h2>HTML</h2>
        <pre>
            <code>&lt;!DOCTYPE html&gt;</code>
            <code>&lt;html&gt;&lt;head&gt;</code>
            <code>    &lt;meta charset="utf-8"&gt;</code>
            <code>    &lt;link rel="stylesheet" href="/css/main.css"/&gt;</code>
            <code>&lt;/head&gt;&lt;body&gt;</code>
            <code>    &lt;div class="page"&gt;&lt;/div&gt;</code>
            <code>&lt;/body&gt;&lt;/html&gt;</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Fest</h2>
        <pre>
            <code>$ npm install grunt-fest --save-dev</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Fest</h2>
        <pre>
            <code><mark>&lt;fest:template xmlns:fest="http://fest.mail.ru"</mark></code>
            <code>    <mark>context_name="json"&gt;</mark></code>
            <code>    &lt;div&gt;</code>
            <code>        &lt;a href="…"&gt;…&lt;/a&gt;</code>
            <code>    &lt;/div&gt;</code>
            <code><mark>&lt;/fest:template&gt;</mark></code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Gruntfile.js</h2>
        <pre>
            <code>grunt.initConfig({</code>
            <code>    connect: { … } <mark class="comment">/* grunt-contrib-connect */</mark></code>
            <code>    fest: { … } <mark class="comment">/* grunt-fest */</mark></code>
            <code>});</code>
            <code>grunt.loadNpmTasks('grunt-contrib-connect');</code>
            <code>grunt.loadNpmTasks('grunt-fest');</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2><code>grunt-fest</code></h2>
        <pre>
            <code>templates: { <mark class="comment">/* Подзадача */</mark></code>
            <code>    files: [{</code>
            <code>        expand: true,</code>
            <code>        cwd: 'templates', <mark class="comment">/* исходная директория */</mark></code>
            <code>        src: '*.xml', <mark class="comment">/* имена шаблонов */</mark></code>
            <code>        dest: 'public/js/tmpl' <mark class="comment">/* результирующая директория */</mark></code>
            <code>    }], … }</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2><code>grunt-fest</code>’s options</h2>
        <pre>
            <code>template: function (data) { <mark class="comment">/* формат функции-шаблона */</mark></code>
            <code>    return grunt.template.process(</code>
            <code>        <mark class="comment">/* присваиваем функцию-шаблон переменной */</mark></code>
            <code>        'var <%= name %>Tmpl = <%= contents %> ;',</code>
            <code>        {data: data}</code>
            <code>    );</code>
            <code>}</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Sweetness!</h2>
        <pre>
            <code>$ npm install grunt-contrib-watch --save-dev</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Gruntfile.js</h2>
        <pre>
            <code>grunt.initConfig({</code>
            <code>    watch: { … } <mark class="comment">/* grunt-contrib-watch */</mark></code>
            <code>     …</code>
            <code>});</code>
            <code>grunt.loadNpmTasks('grunt-contrib-watch');</code>
            <code>…</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2><code>grunt-contrib-watch</code></h2>
        <pre>
            <code>fest: { <mark class="comment">/* Подзадача */</mark></code>
            <code>    files: ['templates/*.xml'], <mark class="comment">/* следим за шаблонами */</mark></code>
            <code>    tasks: ['fest'], <mark class="comment">/* перекомпилировать */</mark></code>
            <code>    options: {</code>
            <code>        atBegin: true <mark class="comment">/* запустить задачу при старте */</mark></code>
            <code>    }</code>
            <code>}</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Gruntfile.js</h2>
        <pre>
            <code>grunt.initConfig({</code>
            <code>    watch: { … } <mark class="comment">/* grunt-contrib-watch */</mark></code>
            <code>    connect: { … } <mark class="comment">/* grunt-contrib-connect */</mark></code>
            <code>     …</code>
            <code>});</code>
            <code>…</code>
            <code>grunt.registerTask('default', ['connect', 'watch']);</code>
        </pre>
    </div></section>

    <section class="slide shout"><div>
        <h2>jQuery</h2>
    </div></section>

    <section class="slide"><div>
        <h2>JavaScript</h2>
        <pre>
            <code>function showMainScreen() { <mark class="comment">// Конструктор экрана "Главный" </mark></code>
            <code>    $page.html(mainTmpl()); <mark class="comment">// Рендерим шаблон</mark></code>
            <code>    <mark class="comment">// Инициализируем обработчики событий</mark></code>
            <code>    $page.find('.js-scoreboard')</code>
            <code>        .on('click', showScoreboardScreen);</code>
            <code>    $page.find('.js-start-game').on('click', showGameScreen);</code>
            <code>}</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>JavaScript</h2>
        <pre>
            <code>function hideMainScreen() { <mark class="comment">// Деструктор экрана "Главный"</mark></code>
            <code>    <mark class="comment">// Удаляем установленные обработчики событий</mark></code>
            <code>    $page.find('.js-scoreboard')</code>
            <code>        .off('click', showScoreboardScreen);</code>
            <code>    $page.find('.js-start-game').off('click', showGameScreen);</code>
            <code>}</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>JavaScript</h2>
        <pre>
            <code><mark class="comment">/* Конструктор экрана "Лучшие игроки" */</mark></code>
            <code>function showScoreboardScreen() {</code>
            <code>    hideMainScreen();</code>
            <code>}</code>
            <code><mark class="comment">/* Деструктор экрана "Лучшие игроки" */</mark></code>
            <code>function hideScoreboardScreen() {}</code>
        </pre>
    </div></section>

    <section class="slide"><div>
        <h2>Домашнее задание</h2>
        <pre>
            <code>СФОРМИРОВАТЬ ИДЕЮ ИГРЫ</code>
            <code>ОПРЕДЕЛИТЬСЯ С ГРУППОЙ И РОЛЯМИ В НЕЙ</code>
            <code>СОЗДАТЬ ПРОТОТИП ВЕБ-ПРИЛОЖЕНИЯ</code>
        </pre>
     </div></section>

    <section class="slide"><div>
        <h2>БЭМ</h2>
        <pre>
            <code>блок</code>
            <code>блок__элемент</code>
            <code>блок_модификатор</code>
            <code>блок__элемент_модификатор</code>
        </pre>
        <p class="note">
            <a href="http://ru.bem.info/method/definitions/">БЭМ</a>.<br/>
        </p>
    </div></section>

    <div class="progress"><div></div></div>
    <script src="../shower/shower.min.js"></script>
</body>
</html>