#events {
	position: absolute;
	top: 15px;
	right: 25px;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    line-height: 28px;
    margin: 0 12px 0 0;
    border: 1px solid;
    padding: 0 12px;
    cursor: pointer;
    font-size: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

a.btn,a.btn:active,a.btn:hover,a.btn:link,a.btn:focus,a.btn:visited {
    outline: 0;
    color: #333;
    text-decoration: none
}

.btn {
    color: #333;
    text-shadow: none;
    border-color: #dbdbdb;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.03),rgba(0,0,0,0.03)),none;
    background-image: -moz-linear-gradient(top, rgba(255,255,255,0.03),rgba(0,0,0,0.03)),none;
    background-image: -o-linear-gradient(top, rgba(255,255,255,0.03),rgba(0,0,0,0.03)),none;
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0.03),rgba(0,0,0,0.03)),none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.03),rgba(0,0,0,0.03)),none
}

.btn_stylish.btn {
    color: #333;
    text-shadow: none;
    border-color: #dbdbdb;
    background-color: #f4f4f4;
    background-image: -webkit-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: -moz-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: -o-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: -ms-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: linear-gradient(to bottom, #f4f4f4,#f4f4f4),none
}

.btn_stylish.btn .ico {
    color: #333
}

.btn_stylish.btn.btn_hover,.btn_stylish.btn:hover {
    color: #333;
    text-shadow: none;
    border-color: #d1d1d1;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec,#ececec),none;
    background-image: -moz-linear-gradient(top, #ececec,#ececec),none;
    background-image: -o-linear-gradient(top, #ececec,#ececec),none;
    background-image: -ms-linear-gradient(top, #ececec,#ececec),none;
    background-image: linear-gradient(to bottom, #ececec,#ececec),none
}

.btn_stylish.btn.btn_hover .ico,.btn_stylish.btn:hover .ico {
    color: #333
}

.btn_stylish.btn.btn_active,.btn_stylish.btn:active {
    color: #333;
    text-shadow: none;
    border-color: #d1d1d1;
    background-color: #ececec;
    background-image: -webkit-linear-gradient(top, #ececec,#ececec),none;
    background-image: -moz-linear-gradient(top, #ececec,#ececec),none;
    background-image: -o-linear-gradient(top, #ececec,#ececec),none;
    background-image: -ms-linear-gradient(top, #ececec,#ececec),none;
    background-image: linear-gradient(to bottom, #ececec,#ececec),none
}

.btn_stylish.btn.btn_active .ico,.btn_stylish.btn:active .ico {
    color: #333
}

.btn_stylish.btn.btn_loading,.btn_stylish.btn.btn_loading:hover,.btn_stylish.btn.btn_loading:active {
    cursor: progress;
    color: #333;
    text-shadow: none;
    border-color: #dbdbdb;
    background-color: #f4f4f4;
    background-image: -webkit-linear-gradient(top, #f4f4f4,#f4f4f4),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: -moz-linear-gradient(top, #f4f4f4,#f4f4f4),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: -o-linear-gradient(top, #f4f4f4,#f4f4f4),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: -ms-linear-gradient(top, #f4f4f4,#f4f4f4),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: linear-gradient(to bottom, #f4f4f4,#f4f4f4),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png")
}

.btn_stylish.btn.btn_loading .ico,.btn_stylish.btn.btn_loading:hover .ico,.btn_stylish.btn.btn_loading:active .ico {
    color: #333
}

.btn_stylish.btn.btn_disabled,.btn_stylish.btn.btn_disabled:hover,.btn_stylish.btn.btn_disabled:active {
    cursor: default;
    color: rgba(51,51,51,0.5);
    text-shadow: none;
    border-color: rgba(219,219,219,0.6);
    background-color: rgba(244,244,244,0.6);
    background-image: -webkit-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: -moz-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: -o-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: -ms-linear-gradient(top, #f4f4f4,#f4f4f4),none;
    background-image: linear-gradient(to bottom, #f4f4f4,#f4f4f4),none
}

.btn_stylish.btn.btn_disabled .ico,.btn_stylish.btn.btn_disabled:hover .ico,.btn_stylish.btn.btn_disabled:active .ico {
    color: rgba(51,51,51,0.5)
}

.btn_stylish.btn_main {
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    border-color: #268ad2;
    background-color: #168de2;
    background-image: -webkit-linear-gradient(top, transparent,transparent),none;
    background-image: -moz-linear-gradient(top, transparent,transparent),none;
    background-image: -o-linear-gradient(top, transparent,transparent),none;
    background-image: -ms-linear-gradient(top, transparent,transparent),none;
    background-image: linear-gradient(to bottom, transparent,transparent),none
}

.btn_stylish.btn_main .ico {
    color: #fff
}

.btn_stylish.btn_main.btn_hover,.btn_stylish.btn_main:hover {
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    border-color: #268ad2;
    background-color: #44a0e2;
    background-image: -webkit-linear-gradient(top, transparent,transparent),none;
    background-image: -moz-linear-gradient(top, transparent,transparent),none;
    background-image: -o-linear-gradient(top, transparent,transparent),none;
    background-image: -ms-linear-gradient(top, transparent,transparent),none;
    background-image: linear-gradient(to bottom, transparent,transparent),none
}

.btn_stylish.btn_main.btn_hover .ico,.btn_stylish.btn_main:hover .ico {
    color: #fff
}

.btn_stylish.btn_main.btn_active,.btn_stylish.btn_main:active {
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    border-color: #268ad2;
    background-color: #1587d9;
    background-image: -webkit-linear-gradient(top, transparent,transparent),none;
    background-image: -moz-linear-gradient(top, transparent,transparent),none;
    background-image: -o-linear-gradient(top, transparent,transparent),none;
    background-image: -ms-linear-gradient(top, transparent,transparent),none;
    background-image: linear-gradient(to bottom, transparent,transparent),none
}

.btn_stylish.btn_main.btn_active .ico,.btn_stylish.btn_main:active .ico {
    color: #fff
}

.btn_stylish.btn_main.btn_loading,.btn_stylish.btn_main.btn_loading:hover,.btn_stylish.btn_main.btn_loading:active {
    cursor: progress;
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    border-color: #268ad2;
    background-color: #168de2;
    background-image: -webkit-linear-gradient(top, transparent,transparent),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: -moz-linear-gradient(top, transparent,transparent),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: -o-linear-gradient(top, transparent,transparent),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: -ms-linear-gradient(top, transparent,transparent),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png");
    background-image: linear-gradient(to bottom, transparent,transparent),url("//img.imgsmail.ru/common/toolkit/btn/_loading/btn_loading.png")
}

.btn_stylish.btn_main.btn_loading .ico,.btn_stylish.btn_main.btn_loading:hover .ico,.btn_stylish.btn_main.btn_loading:active .ico {
    color: #fff
}

.btn_stylish.btn_main.btn_disabled,.btn_stylish.btn_main.btn_disabled:hover,.btn_stylish.btn_main.btn_disabled:active {
    cursor: default;
    color: rgba(255,255,255,0.5);
    text-shadow: 0 -1px rgba(0,0,0,0.3);
    border-color: #268ad2;
    background-color: #168de2;
    background-image: -webkit-linear-gradient(top, transparent,transparent),none;
    background-image: -moz-linear-gradient(top, transparent,transparent),none;
    background-image: -o-linear-gradient(top, transparent,transparent),none;
    background-image: -ms-linear-gradient(top, transparent,transparent),none;
    background-image: linear-gradient(to bottom, transparent,transparent),none
}

.btn_stylish.btn_main.btn_disabled .ico,.btn_stylish.btn_main.btn_disabled:hover .ico,.btn_stylish.btn_main.btn_disabled:active .ico {
    color: rgba(255,255,255,0.5)
}

.form__field {
    width: 280px;
    margin: 0;
    padding: 4px 9px;
    color: #333;
    background: #fff;
    font-size: 14px;
    font-family: Arial, Tahoma, Verdana, sans-serif;
    border: 1px solid #b5b5b5;
    border-radius: 3px;
    box-shadow: 0 1px 0 1px rgba(0,0,0,0.05) inset
}

.form__field:hover {
    border-color: #999
}

.form__field:focus {
    border-color: #85b8eb;
    outline: 0
}